body {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  background-color: #999999;
}

header {text-align: center;}

h1 {
  text-align: center;
}

img {
  display:block;
  margin: 0 auto;
  position: relative;
  width: 40%;
}

.flashy {
  color: #3f33ad;
}

#wrapper {
  width: 600px;
  background:green;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}

#leftsidebar {
  float: left;
  background:blue;
  width: 200px;
  height: 200px;
}

.column {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.outer {
  width:200px;
  height: 200px;
  background: cyan;
  position: absolute;
  left: 500px;
}

.inner {
  border: 1px solid black;
  background: red;
  padding: 20px;
  width: 100px;
  margin: 20px;
}
